nav{
  padding:5px
}
nav a{
  color:rgb(255, 255, 223);
  font-family: Georgia, 'Times New Roman', Times, serif;
  margin:0 10px 0 10px;
  display:inline-block;
  width:23.78%;
  text-align:center;
  font-size: large;
}

nav a:hover{
  font-size:x-large;
  font-style: oblique;
  color:rgb(255, 251, 0);
}

*/{
  font-family: Arial;
}

a {
  text-decoration-line: none;
}

nav a:hover {
  border-bottom: 2px solid black;
}

.banner{
  background-color:lightgrey;
  color:brown;
  text-align: center;
  font-size: 20px;
}

.main{
  font-size: larger;
  color:black;
}
