nav{
  padding:5px
}
nav a{
  color:black;
  margin:0 10px 0 10px;
  display:inline-block;
  width:20%;
  text-align:center;
}


*/{
  font-family: Arial;
}

a {
  text-decoration-line: none;
}

nav a:hover {
  border-bottom: 2px solid black;
}

.banner{
  background-color:lightgrey;
  color:brown;
  text-align: center;
  font-size: 20px;
}

.main{
  font-size: larger;
  color:black;
}
