nav{
  padding:5px
}

nav a{
  color:rgb(255, 255, 223);
  font-family: Georgia, 'Times New Roman', Times, serif;
  text-align:center;
  font-size: large;
  flex:1;
}

nav a:hover{
  font-size:x-large;
  font-style: oblique;
  color:rgb(73, 69, 64);
  background-color: rgb(211, 211, 202);
  transition: width 2s, height 4s, background-color 1s;
}

*/{
  font-family: Arial;
}

a {
  text-decoration-line: none;
}

nav a:hover {
  border-bottom: 2px solid black;
}

.banner{
  background-color:lightgrey;
  color:brown;
  text-align: center;
  font-size: 20px;
}

.main h1{
  font-size:200px;
  color:lightcyan;
  text-align: center;
}

.main p{
  font-size: larger;
  text-align: center;
}


#footer{
  background-color:white;
  color:navy;
  padding:10px;
  text-align: center;
}

.container{
  display:flex;
}

.container div{
  flex:1;
  text-align:center;
  background-color:rgb(88, 23, 23);
  padding:10px;
  margin:25px;
}

#pic{
  /* height: 200px; */
  justify-content: center;
  /* background-color: rgba(134, 200, 255, 0.5); */
  align-items: center;
  /* margin: 100px; */
  color:lightcyan;
  font-size:20px;
  flex:2;
}
 
#pic img{
  filter:opacity(50%)
}


#pic img:hover{
  filter: opacity(100%);
}

#foodpic{
  /* height: 200px; */
  justify-content: center;
  /* background-color: rgba(134, 200, 255, 0.5); */
  align-items: center;
  /* margin: 100px; */
  color:lightcyan;
  font-size:20px;
  flex:2;
}

#foodpic img{
  filter:blur(3px);
}


#foodpic img:hover{
  filter: opacity(100%);
}

.food{
  display:flex;
  color:rgb(68, 52, 34);
  font-size: larger;
}

.food div{
  flex:1;
  text-align:center;
  background-color:rgb(214, 203, 180);
  padding:10px;
  margin:20px;  
}