nav{
  padding:5px
}

nav a{
  color:rgb(255, 255, 223);
  font-family: Georgia, 'Times New Roman', Times, serif;
  text-align:center;
  font-size: large;
  flex:1;
}

nav a:hover{
  font-size:x-large;
  font-style: oblique;
  color:rgb(255, 251, 0);
}

*/{
  font-family: Arial;
}

a {
  text-decoration-line: none;
}

nav a:hover {
  border-bottom: 2px solid black;
}

.banner{
  background-color:lightgrey;
  color:brown;
  text-align: center;
  font-size: 20px;
}

.main h1{
  font-size:200px;
  color:lightcyan;
  text-align: center;
}

.main p{
  font-size: larger;
  color:whitesmoke;
  text-align: center;
}


#footer{
  background-color:white;
  color:navy;
  padding:10px;
  text-align: center;
}

.container{
  display:flex;
}

.container div{
  flex:1;
  text-align:center;
  background-color:rgb(88, 23, 23);
  padding:10px;
  margin:20px;
}

#intro{
  height: 200px;
  justify-content: center;
  background-color: rgba(134, 200, 255, 0.5);
  align-items: center;
  margin: 100px;
  color:lightcyan;
  font-size:20px;
}
